@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  header,
  aside,
  .no-print {
    display: none !important;
  }

  main {
    padding: 0 !important;
    margin: 0 !important;
  }

  .print-page {
    page-break-after: always;
  }
}
